extends ../layout

block content
  .w3-bar.w3-green.w3-padding.w3-top(style="display:flex;align-items:center;")
    .w3-bar-left(style="display:flex;gap:10px;flex:1;")
      a.w3-button.w3-white.w3-round(href="/") 
        i.fa.fa-home
        |  Página Inicial
      
      a.w3-button.w3-white.w3-round(href="/admin") 
        i.fa.fa-arrow-left
        |  Dashboard
    
    .w3-bar-center(style="flex:1;text-align:center;")
      h3(style="margin:0;") Gestão de Utilizadores
    
    .w3-bar-right(style="flex:1;text-align:right;")
      form(action="/logout", method="post", style="display:inline;")
        button.w3-button.w3-white.w3-round(type="submit") 
          | Terminar Sessão 
          i.fa.fa-sign-out

  .w3-container(style="margin-top:90px")
    
    // Mensagens de feedback
    if success === 'user_created'
      .w3-panel.w3-green.w3-round
        p Utilizador criado com sucesso!
    else if success === 'user_updated'
      .w3-panel.w3-green.w3-round
        p Utilizador atualizado com sucesso!
    else if success === 'user_deleted'
      .w3-panel.w3-green.w3-round
        p Utilizador eliminado com sucesso!
    else if error === 'delete_failed'
      .w3-panel.w3-red.w3-round
        p Erro ao eliminar utilizador!
    else if error === 'user_not_found'
      .w3-panel.w3-red.w3-round
        p Utilizador não encontrado!

    .w3-card.w3-padding.w3-round-large
      .w3-container.w3-padding
        .w3-row.w3-margin-bottom
          .w3-col.s6
            h2 Utilizadores
          .w3-col.s6.w3-right-align
            p.w3-text-grey Total: #{users ? users.length : 0} utilizadores
          .w3-col.s6.w3-right-align
            a.w3-button.w3-green.w3-round(href="/admin/users/create")
              i.fa.fa-plus
              |  Criar Utilizador

        if users && users.length > 0
          .w3-responsive
            table.w3-table-all.w3-hoverable
              thead
                tr.w3-green
                  th Username
                  th Nome
                  th Email
                  th Nível
                  th Data de Criação
                  th Ações
              tbody
                each user in users
                  tr
                    td= user.username
                    td= user.name
                    td= user.email
                    td
                      if user.level === 'admin'
                        span.w3-tag.w3-red Admin
                      else
                        span.w3-tag.w3-blue User
                    td= new Date(user.creationDate).toLocaleDateString('pt-PT')
                    td
                      a.w3-button.w3-blue.w3-small.w3-round(href=`/admin/users/${user.username}/edit` style="margin-right: 5px;")
                        i.fa.fa-edit
                      form(action=`/admin/users/${user.username}/delete`, method="POST", style="display: inline;", 
                           onsubmit="return confirm('Tem certeza que deseja eliminar este utilizador?')")
                        button.w3-button.w3-red.w3-small.w3-round(type="submit")
                          i.fa.fa-trash
        else
          .w3-panel.w3-light-grey.w3-center
            p Nenhum utilizador encontrado.